.bodystyle {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;
  color: #212121;
  background-color: #e5e5e5;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #2196f3;
  cursor: pointer;
}
.contact:hover {
  color: #2196f3;
}

:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --button-background-color: #2196f3;
  --background-color: #e5e5e5;
}
p {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 16px;
}

.main-link {
  color: var(--text-color);
  text-decoration: none;
}
span {
  color: var(--button-background-color);
}
.contact-links {
  color: var(--second-text-color);
  text-decoration: none;
}
.font-link {
  font-weight: 500;
  font-size: 16;
  font-family: "Roboto";
}
.font-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}
.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.main-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.font-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.font-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
